.NodeHistory {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-padding: 5 10 5 10;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-max-Width: "Infinity";
}

.RunButton {
    -fx-padding: 10px;
    -fx-background-image: url("images/run_icon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40px;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
}

.loadingButton {
    -fx-padding: 10px;
    -fx-background-image: url("images/loading.gif");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40px;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
}

.deleteButton {    
    -fx-background-image: url("images/trashcan.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
}

.textField {
    -fx-border-color: gray;
    -fx-min-height: 30px;
    -fx-background-color: lightgreen;
}

.label1 {
    -fx-padding: 0 0 0 10;
    -fx-min-height: 30px;
    -fx-border-color: gray;
    -fx-border-size: 1px;
    -fx-max-Width: "Infinity";
}
.label2 {
    -fx-min-height: 15px;
    -fx-border-color: gray;
    -fx-border-size: 1px;
    -fx-background-color: lightblue;
}
.labelHover {
    -fx-background-color: lightgray;
}
.initial {
    -fx-background-color: yellow;
}
.initialHover {
    -fx-background-color: gold;
}
.final {
    -fx-font-weight: bold;
}

.BlackBorder {
    -fx-border-color: black;
    -fx-border-width: 2px;
}

.RedBorder {
    -fx-border-color: red;
    -fx-border-width: 2px;
}

.BlueBorder {
    -fx-border-color: blue;
    -fx-border-width: 2px;
}

.YellowBorder {
    -fx-border-color: yellow;
    -fx-border-width: 2px;
}

.GreenBorder {
    -fx-border-color: green;
    -fx-border-width: 2px;
}