.BlackBorder {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-padding: 10px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
}

.NodeHistory {
    -fx-min-height: 40px;
    -fx-max-height: 40px;
}

.RunButton {
    -fx-padding: 10px;
    -fx-background-image: url("images/run_icon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40px;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;

}

.RedBorder {
    -fx-border-color: red;
    -fx-border-width: 2px;
}

.BlueBorder {
    -fx-border-color: blue;
    -fx-border-width: 2px;
}

.YellowBorder {
    -fx-border-color: yellow;
    -fx-border-width: 2px;
}

.GreenBorder {
    -fx-border-color: green;
    -fx-border-width: 2px;
}